* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Onest", sans-serif;
}

html,
body {
    width: 100%;
    background-color: #F3F3F3;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

section {
    margin-top: 1.25rem;
    border-radius: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 5rem 0;
}

.bg-white {
    background-color: #FFFFFF;
}

/* header */

header {
    background-color: #001F8E;
    border-radius: 0 0 40px 40px;
    padding: 1.25rem 2.5rem;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.938rem;
}

.logo-img {
    width: 56px;
}

.logo-text {
    color: #F3F3F3;
    font-size: 1rem;
    font-weight: 700;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.header-container__group {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.header-container-contacts,
.nav-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-img-contacts {
    width: 28px;
}

.header-text-contacts {
    color: #F3F3F3;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn {
    background-color: #F3F3F3;
    border: 0 solid #F3F3F3;
    color: #EC5D2A;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.625rem 2.5rem;
    border-radius: 35px;
    cursor: pointer;
}

.nav-img {
    width: 38px;
    cursor: pointer;
}

/* hero */

.hero {
    background-image: url(../images/hero-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container {
    padding: 193px 0 225px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.188rem;
}

.hero-header,
.hero-header__span {
    color: #EC5D2A;
    font-weight: 800;
    line-height: 110%;
    font-size: 4rem;
}

.hero-header__span {
    font-size: 3rem;
}

.hero-text {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-btn {
    background-color: #EC5D2A;
    border: 0 solid #EC5D2A;
    color: #F3F3F3;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.25rem 4.875rem;
    border-radius: 35px;
    cursor: pointer;
}

/* popular */

.main-title {
    font-size: 2.25rem;
    font-weight: 700;
}

.color-blue {
    color: #001F8E;
}

.popular-card__img {
    border-radius: 40px;
    width: 240px;
}

.popular-card {
    position: relative;
}

.popular-card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    gap: 17rem;
    padding: 1.563rem;
    transform: translate(0);
}

.text-20 {
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 700;
}

.text-12 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.75rem;
}

.text-16 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
}

.popular-card__container-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2.125rem;
}

.cards {
    display: flex;
    gap: 2.625rem;
}

.popular-cards {
    overflow-x: scroll;
    width: 100%;
    padding: 0 2.5rem;
}

.popular-cards::-webkit-scrollbar {
    height: 7px;
    background: #F3F3F3;
}

.popular-cards::-webkit-scrollbar-thumb:horizontal {
    background: #FF961B;
    border-radius: 25px;
}

/* info */

.bg-blue {
    background-color: #001F8E;
}

.color-white {
    color: #F3F3F3;
}

.info-cards {
    padding: 0 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.info-card__container {
    display: flex;
}

.color-orange {
    color: #EC5D2A;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 3.125rem 2.188rem 4.75rem;
    border-radius: 40px;
    width: 30%;
    gap: 1.25rem;
}

.info-card__img {
    width: 100px;
}

.info-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.color-black {
    color: #000000;
}

.text-center {
    text-align: center;
}

/* services */

.services-slider {
    display: flex;
    gap: 2.688rem;
}

.services-card,
.swiper-slider {
    background-color: #F3F3F3;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 1.688rem;
    padding: 1.875rem 2rem;
    width: 30% !important;
    border-radius: 40px;
    height: auto !important;
}

.services-btn {
    background-color: #EC5D2A;
    border: 0 solid #EC5D2A;
    color: #F3F3F3;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.25rem 3.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 5rem 0;
    overflow: hidden;
}

/* about */

.about {
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 5rem 20px 80px 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 5rem;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.consultation-btn {
    background-color: #001F8E;
    border: 0 solid #001F8E;
    color: #F3F3F3;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1.25rem 3.938rem;
    border-radius: 50px;
    cursor: pointer;
}

/* documents */

.documents {
    display: flex;
}

.documents-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    justify-content: center;
}

.documents-card {
    display: flex;
    gap: 0.938rem;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 50px;
    padding: 1.25rem 0.75rem;
    width: 30%;
    justify-content: center;
}

.documents__img {
    width: 30px;
}

.docs-btn {
    font-size: 1rem;
    padding: 1.25rem 3.5rem;
    font-weight: 400;
}

.text-20-weight {
    font-weight: 500;
}

/* contacts */

.contacts {
    position: relative;
}

.contacts-container {
    position: absolute;
    border-radius: 40px;
    padding: 1.875rem 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    left: 50px;
    top: 50px;
}

.contacts-group {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.contacts-img {
    width: 34px;
}

.text-24 {
    font-size: 1.5rem;
    font-weight: 500;
}

.society-img {
    width: 45px;
}

.contacts-group-society {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* form block */

.bg-orange {
    background-color: #EC5D2A;
}

.form-contacts {
    background-color: #F3F3F3;
    border-radius: 30px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.688rem;
}

.form {
    display: flex;
    gap: 1.688rem;
}

input {
    padding: 0.625rem 8.75rem 0.625rem 0.625rem;
    border: 0 solid #F3F3F3;
    border-radius: 8px;
}

.text-checked {
    font-size: 0.75rem;
    font-weight: 300;
    color: #000000;
}